app/index.html
<!DOCTYPE html>
<html lang="en" data-framework="backbonejs">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="dist/css/main.css">
    <title>TODO Backbone</title>
  </head>
  <body>
    <section id="todoapp">
      <header id="header">
        <h1>Todo:</h1>
        <input placeholder="Task to be slayed?" autofocus id="new-todo">
      </header>
      <section id="main">
        <input type="checkbox" id="toggle-all">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list"></ul>
      </section>
      <footer id="footer"></footer>
    </section>
    <footer id="info">
      <p>Double-click to edit</p>
    </footer>
  </body>
  <footer>
    <script src="src/js/libs/base.js"></script>
    <script type="text/javascript" data-main="dist/js/bootstrap.js" src="src/js/libs/require-min.js"></script>
  </footer>
</html>

app/src/jade/index.jade
doctype html
html(lang="en" data-framework="backbonejs")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        link(rel="stylesheet", href="dist/css/main.css")
        title="TODO Backbone"
    body
        section#todoapp
            header#header
                h1="Todo:"
                input(placeholder="Task to be slayed?" autofocus)#new-todo
            section#main
                input(type="checkbox")#toggle-all
                label(for="toggle-all")="Mark all as complete"
                ul#todo-list
            footer#footer
        footer#info
            p="Double-click to edit"
    footer
        script(src="src/js/libs/base.js")
        script(type="text/javascript" data-main="dist/js/bootstrap.js" src="src/js/libs/require-min.js")
